# system files
.DS_Store
Thumbs.db

# ide files
.vscode
.git

# compiled files
*.class
*.pyc

# config files
*.conf
passwd.db

# temporary files
temp*.*
*.log
*.tmp
*.bak
*.old
*.py_
*.pdf

# etc
venv/*
pydoc/*
temp/*
sample/*

